.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
*.iml
Mkash.iml
gradle/
gradlew.bat
/app.iml
asb-android.iml
../library/library.iml
../library/build.gradle
../app/app.iml
